{% from "_includes/forms" import textField, passwordField, lightswitchField %}

<hr />

<h2>Authorize.net Credentials</h2>

{{ textField({
    label: 'API Login ID'|t('commerce'),
    id: 'apiLoginId',
    class: 'ltr',
    name: 'apiLoginId',
    value: gateway.apiLoginId,
    errors: gateway.getErrors('apiLoginId')
}) }}

{{ passwordField({
    label: 'Transaction Key'|t('commerce'),
    id: 'transactionKey',
    class: 'ltr',
    name: 'transactionKey',
    value: gateway.transactionKey,
    errors: gateway.getErrors('transactionKey')
}) }}

{{ textField({
    label: 'Public Client Key'|t('commerce'),
    id: 'publicKey',
    class: 'ltr',
    name: 'publicKey',
    value: gateway.publicKey,
    errors: gateway.getErrors('publicKey')
}) }}

{{ lightswitchField({
    label: 'Developer Mode'|t('commerce'),
    id: 'developerMode',
    instructions: 'Enable this toggle when using the Authorize.net Sandbox.',
    class: 'ltr',
    name: 'developerMode',
    errors: gateway.getErrors('developerMode'),
    on: (gateway.developerMode is defined) ? gateway.developerMode : ""
}) }}

{{ lightswitchField({
    label: 'Accept.js'|t('commerce'),
    id: 'acceptJS',
    instructions: 'Enable this toggle to use Accept.js. Payment button changes are required unless using the default display below.',
    class: 'ltr',
    name: 'acceptJS',
    errors: gateway.getErrors('developerMode'),
    on: (gateway.acceptJS is defined) ? gateway.acceptJS : ""
}) }}

<hr />

<h2>Authorize.net Refunds</h2>

{{ lightswitchField({
    label: 'Void if Refund Fails'|t('commerce'),
    id: 'voidRefunds',
    instructions: 'Authorize.net does not allow refunds to process until they have settled (around 24 hours). This toggle automatically voids the transaction if the refund fails. The entire transaction will be voided, partial voiding is not possible.',
    class: 'ltr',
    name: 'voidRefunds',
    errors: gateway.getErrors('developerMode'),
    on: (gateway.voidRefunds is defined) ? gateway.voidRefunds : ""
}) }}

<hr />

<h2>Default Payment Form</h2>

<p><em>If you wish to use a custom form as outlined in the documentation, leave each toggle in this section disabled.</em></p>

{{ lightswitchField({
    label: 'Insert the Default Form'|t('commerce'),
    id: 'insertForm',
    instructions: 'Insert the default form when cart.gateway.getPaymentFormHtml is called in the checkout template.',
    class: 'ltr',
    name: 'insertForm',
    errors: gateway.getErrors('insertForm'),
    on: (gateway.insertForm is defined) ? gateway.insertForm : ""
}) }}

{{ textField({
    label: 'Payment Button'|t('commerce'),
    id: 'paymentButton',
    instructions: 'Customize the text that appears inside the submit button at the bottom of the form.',
    class: 'ltr',
    name: 'paymentButton',
    value: gateway.paymentButton,
    errors: gateway.getErrors('paymentButton')
}) }}

{{ lightswitchField({
    label: 'Remove Credit Card Data Before Submission (Accept.js)'|t('commerce'),
    id: 'disableAcceptData',
    instructions: 'Only applies when using the default form display in conjunction with Accept.js. See the documentation for additional details.',
    class: 'ltr',
    name: 'disableAcceptData',
    errors: gateway.getErrors('disableAcceptData'),
    on: (gateway.disableAcceptData is defined) ? gateway.disableAcceptData : ""
}) }}

<hr />

<h2>Saved Payment Sources</h2>

{{ lightswitchField({
    label: 'Save Payment Sources?'|t('commerce'),
    id: 'savePaymentMethods',
    instructions: 'Payment sources are saved using the Authorize.net Customer Information Manager (CIM). <strong>CIM must be enabled inside Authorize.net prior to enabling this feature.</strong> After enabling stored payment sources, the only credit card information stored in the database will be the last four digits of the card number so that the card can be identified later (if Accept.js is not enabled). <br><br>&#9888; <strong>WARNING: If this feature is disabled after payment sources are saved, an error will be thrown if the customer tries to use or modify the payment source.</strong> <em>You may wish to run a database backup and then manually clear the Payment Sources database table before disabling this feature.</em>',
    class: 'ltr',
    name: 'savePaymentMethods',
    errors: gateway.getErrors('savePaymentMethods'),
    on: (gateway.savePaymentMethods is defined) ? gateway.savePaymentMethods : ""
}) }}

{{ textField({
    label: 'Saved Payment Method Label Prefix'|t('commerce'),
    id: 'savedCardPrefix',
    instructions: "Enter the text that should appear before the last four digits of the credit card number in the payment selector (i.e. 'Saved Card - x' will result in 'Saved Card - x9999'). If left blank, only the last 4 digits will appear. Payment methods that have already been stored will not be affected by this field change. If Accept.js is enabled, the last four digits of the card number will not be appended to this label. If the description field is filled by the customer, it will override the card name set in this field.",
    class: 'ltr',
    name: 'savedCardPrefix',
    value: gateway.savedCardPrefix,
    errors: gateway.getErrors('savedCardPrefix')
}) }}

<p style="color: #8f98a3;"><em><strong>Note:</strong> If Accept.js is enabled, a separate profile will be created for each payment source stored inside Authorize.net. See the documentation for additional details. </em></p>

<hr />

<h2>
Questions or Suggestions?</h2>

<p><em>Create a ticket in <a href="https://github.com/digital-pros/commerce-authorize" target="_blank">Github</a>, or email our support team at <a href="mailto:hello@digitalpros.co">hello@digitalpros.co</a>.</em></p>

